[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pipreqs = "*"
ArgConfigParse = "*"

[packages.epdlib]
editable = true
ref = "omni_epd"
git = "https://github.com/txoof/epdlib.git"

[requires]
python_version = "3"

[packages.it8951]
git = "https://github.com/GregDMeyer/IT8951.git"

[dev-packages]
dictor = "*"
requests = "*"
epdlib = "*"
pytz = "*"
feedparser = "*"
python-dateutil = "*"
currency-symbols = "*"
pycoingecko = "*"
pygal = "*"
qrcode = "*"
cairocffi = "*"
pycairo = "*"
cffi = "*"
QueryLMS = "*"
Pillow = "*"
CairoSVG = "*"
