[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pipreqs = "*"
ArgConfigParse = "*"
it8951 = {editable = true, git = "https://github.com/GregDMeyer/IT8951.git"}
epdlib = {editable = true, path = "./../epdlib"}

[requires]
python_version = "3"

[dev-packages]
dictor = "*"
requests = "*"
pytz = "*"
feedparser = "*"
python-dateutil = "*"
currency-symbols = "*"
pycoingecko = "*"
pygal = "*"
qrcode = "*"
cairocffi = "*"
cffi = "*"
QueryLMS = "*"
Pillow = "*"
CairoSVG = "*"
