[[source]]
url = "https://www.piwheels.org/simple/"
verify_ssl = true
name = "piwheels"

[[source]]
url = "https://www.pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
it8951 = {editable = true, git = "https://github.com/GregDMeyer/IT8951.git"}
epdlib = "*"
argconfigparse = "*"
jsonmerge = "*"

[requires]
python_version = "3"

[dev-packages]
dictor = "*"
requests = "*"
pytz = "*"
feedparser = "*"
python-dateutil = "*"
currency-symbols = "*"
pycoingecko = "*"
pygal = "*"
qrcode = "*"
cairocffi = "*"
cffi ="*"
psutil = "*"
pillow = "*"
epdlib = "*"
querylms = "*"
cairosvg = "*"
ipykernel = "*"
pipreqs = "*"
